* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333;
}

#game-board {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-color: #fff;
  position: relative;
}

.mole {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #ccc;
  border-radius: 50%;
  display: none;
}